{% extends 'base.html.twig' %}

{% block body %}
	<div class="wrapper">
		<div class="jumbotron">
			<h2 class='text-center'>Edit Type</h2>
		</div>
		<div class="container">
			<form class="form-horizontal" action="{{ path('type.update', { id: type.id }) }}">
				<div class="form-group">
					<label for="new_item" class="col-sm-2 control-label">Title</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" name="name" id="name" value="{{ type.name|default }}">
					</div>
				</div>
				<div class="form-group">
					<label for="new_item" class="col-sm-2 control-label">Actions</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="actions" value="{{ type.actions|default }}">
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}